* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.scene {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Líneas */

#connections {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 5;
}

/* Cuadrados */

.tracker {
  position: absolute;
  width: 110px;
  height: 110px;

  border: 1px solid rgba(255,255,255,0.8);

  z-index: 10;
}

/* Cruz central */

.tracker::before,
.tracker::after {
  content: "";
  position: absolute;
  background: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.tracker::before {
  width: 14px;
  height: 1px;
}

.tracker::after {
  width: 1px;
  height: 14px;
}

/* Números */

.tracker span {
  position: absolute;
  bottom: 5px;
  left: 6px;

  color: white;

  font-size: 10px;
  letter-spacing: 1px;
}

/* Posiciones iniciales */

.tracker-1 {
  left: 20%;
  top: 30%;
}

.tracker-2 {
  left: 65%;
  top: 20%;
}

.tracker-3 {
  left: 45%;
  top: 60%;
}

.tracker-4 {
  left: 75%;
  top: 65%;
}